.card-navidad {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 350px;
  padding: 5px;
  background-color: #fff;
  background-image: url('../../../public/background-imagen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0 !important;
}

.card-navidad .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  color: #000;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.card-navidad .card-title,
.card-navidad .card-text {
  text-align: center;
}

.section-empleados,
.section-admin {
  padding-top: 50px;
}
.section-ganadores {
  height: 100vh;
}

.scroll-down {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  color: #fff;
  background-color: #fea611;
}

@media only screen and (max-width: 600px) {
  .ganador {
    width: 100%;
  }
}
