.inicializador {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-inicializador {
  border: 0;
  font-size: 24px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  color: #fff;
}

.btn-inicializador-play {
  background-color: green;
}

.btn-inicializador-pause {
  background-color: orange;
}
